@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
$darkGrey: #3a3b3c;

* {
	padding: 0;
	margin: 0;
	font-family: "Montserrat", sans-serif;
}

header {
	background-color: $darkGrey;
	text-align: center;
	h1 {
		color: white;
		padding: 50px;
	}
}

main {
	display: flex;
	flex-direction: column;
	gap: 50px;
	align-items: center;
	h1 {
		margin: 20px;
		text-align: center;
	}
	section {
		width: 50%;
	}
}
